  <div class="header">
    <ul>
      <li>
    <ul class="linkz">
      <li>About</li>
      <% if user_signed_in? %>
      <% @user = current_user %>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %></li>
      </ul>
    </li>
  </ul>
    <div class="current_user_stats">

        <ul>
          <li class="un">
            <span><%= link_to @user.username, list_url %></span>
            <ul class="subnav">
              <li><%= link_to "My List", list_path %></li>
              <li><%= link_to "Leaderboard", leaderboard_path %></li>
              <li><%= link_to "Profile", dashboard_url(user_id: @user.id) %></li>
              <li><%= link_to "Edit", edit_user_registration_path(@user) %></li>
            </ul>

          </li>
          <li>
            <% if @user.badges.count > 0 %>
              <%= @user.badges.last.name.capitalize %>
            <% else %>
              No Level
            <% end %>
          </li>
          <li><%= @user.points %> Pts</li>
          <li><i class="fa fa-star-o"></i><%= @user.ranking %></li>
        </ul>
        <%= image_tag @user.avatar.url, class: "navava", height: 50 %>
      </div>
      <% else %>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <li><%= link_to "Sign In", new_user_session_path %></li>
      </ul>
      </li>
      </ul>
      <% end %>




  </div>


  <div class="clearhead"></div>
