<div class="sign">
<div class="signlogo">
<%= image_tag 'aslogo.png'  %>
<h1>AccompliShit</h1>
<h2>Complete Tasks - Level Up - Rock On</h2>
<h3>What the hell is AccompliShit?</h3>
</div>

<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div>
  <%= f.text_field :username, :autofocus => true %><br />
<%= f.label :username %></div>

  <div>
  <%= f.password_field :password %><br />
<%= f.label :password %></div>
<br />
  <% if devise_mapping.rememberable? -%>
    <div class="remember"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
<br />
  <div><%= f.submit "Sign in" %></div>
<% end %>

<div class="links">
<%= render "devise/shared/links" %>
</div>
</div>
