  <div class="header">
    <ul>
      <li>
    <div class="title">
      <h1><%= image_tag 'aslogo.png', class: "navlogo" %><span class="meep">AccompliShit</span></h1>
    </div>
      </li>
      <li>
    <ul class="linkz">
      <li>About</li>
      <% if user_signed_in? %>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %></li>
      </ul>
    </li>
  </ul>
    <div class="current_user_stats">

        <ul>
          <li class="un"><%= @user.username %></li>
          <li>1751 Pts</li>
          <li>Level 5</li>
          <li><i class="fa fa-star-o"></i> 16</li>
        </ul>
        <%= image_tag 'brunetteava.jpg', class: "navava", height: 50 %>
      </div>
      <% else %>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <li><%= link_to "Sign In", new_user_session_path %></li>
      </ul>
      </li>
      </ul>
      <% end %>




  </div>


  <div class="clearhead"></div>
