<%= render 'header' %>

<% @viewing_user = User.find_by(params[:user_id]) %>
<% @current_badge = @viewing_user.badges.last %>
<% @next_badge = @viewing_user.next_badge? %>

<div class="container">

<div class="sidebar">
  <%= image_tag 'brunetteava.jpg', class: "avatar" %>
  <h1><%= @viewing_user.username %></h1>
  <div class="stats">
    <ul>
      <li><%= @viewing_user.points %> Pts</li>
      <li><%= @current_badge.name.capitalize %></li>
      <li><i class="fa fa-star-o"></i> 16</li>
    </ul>
  </div>
</div>

<div class="pgcontent">
  <%= image_tag '1.png' %>

  <h1><%= @current_badge.name.capitalize %></h1>
  <p><%= @current_badge.description %></p>

  <div class="progresswrap">
    <div class="progress" style="width:<%= @next_badge[:percentage] %>">
    </div>
  </div>

</div>

</div>
