
<div class="sidebar">
  <%= image_tag 'katiethumbnail.jpg', class: "avatar" %>
  <h1><%= @user.username %></h1>
  <div class="stats">
    <ul>
      <li>1,256 pts</li>
      <li>Lvl 10</li>
    </ul>
  </div>
  <ul>
    <li>Profile</li>
    <li>Badges</li>
    <li>Leaderboard</li>
  </ul>
</div>

<div class="clear"></div>

<div id="columns">
  <div class="list org">
    <h2><i class="fa fa-thumb-tack"></i> Organize</h2>
    <ul>
    <% @orgs.each do |org| %>
      <li><span><%= org.content %></span></li>
    <% end %>
    </ul>
  </div>
  <div class="list fit">
    <h2><i class="fa fa-heart"></i> Get Fit</h2>
    <ul>
    <% @fits.each do |fit| %>
      <li><span><%= fit.content %></span></li>
    <% end %>
      <%= form_for(@todo) do |t| %>
      <li><%= t.text_field :content %></li>
      <% end %>
    </ul>
  </div>
  <div class="list work">
    <h2><i class="fa fa-briefcase"></i> Work Hard</h2>
    <ul>
    <% @works.each do |work| %>
      <li><span><%= work.content %></span></li>
    <% end %>
    </ul>
  </div>
  <div class="list play">
    <h2><i class="fa fa-beer"></i> Play Hard</h2>
    <ul>
    <% @plays.each do |play| %>
      <li><span><%= play.content %></span></li>
    <% end %>
    </ul>
  </div>
</div>


