<%= render 'header' %>

<div class="container">
<ul class="leaderboard">
  <% @all_users.each do |user| %>
  <li>
    <ul>
      <li><span><%= user.ranking %></span></li>
      <li><%= link_to image_tag(user.avatar.url), dashboard_path(user_id: user.id) %></li>
      <li><span><%= user.points %> Pts.</span></li>
      <li><span><%= link_to user.username, dashboard_path(user_id: user.id) %></span></li>
      <% if user.badges.count > 0 %>
      <li><span><%= user.badges.last.name.capitalize %></span></li>
      <% else %>
      <li><span>No Badges</span></li>
      <% end %>
    </ul>
  </li>
  <% end %>
</ul>


</div>
