<%= render 'header' %>
<div class="miniback"></div>

<div class="container">
    <h2 class="userplace">Awesome. You're in <%= current_user.ranking.ordinalize %> place!</h2>
<table class="leaderboard">
  <% @all_users.each do |user| %>
    <tr <% if user.id == current_user.id %> style="background: rgba(0,0,0,0.3)" <% end %>>
      <td class="ava rank"><span><%= user.ranking %></span></td>
      <td class="ava"><%= link_to image_tag(user.avatar.url), dashboard_path(user_id: user.id) %></td>
      <td class="name"><span><%= link_to user.username, dashboard_path(user_id: user.id) %></span></td>
      <% if user.points != nil %>
      <td><span><%= user.points %> Pts.</span></td>
      <% else %>
      <td><span>0 Pts.</span></td>
      <% end %>
      <% if user.badges.count > 0 %>
      <td class="right"><span><%= user.badges.last.name.capitalize %></span></td>
      <% else %>
      <td class="right"><span>No Badge</span></td>
  <% end %>
      <% @upcoming = user.next_badge? %>
      <td class="lp"><div class="leaderprogress"><div class="prog" style="width: <%= @upcoming[:percentage] %>%"></div></div></td>
      <td><%= @upcoming[:badge][:name].capitalize %></td>
</tr>
<% end %>
</table>


</div>
