
<div class="sidebar">
  <%= image_tag 'katiethumbnail.jpg', class: "avatar" %>
  <h1><%= @user.username %></h1>
  <div class="stats">
    <ul>
      <li>1,256 pts</li>
      <li>Lvl 10</li>
    </ul>
  </div>
  <ul>
    <li>Profile</li>
    <li>Badges</li>
    <li>Leaderboard</li>
  </ul>
</div>

<div class="clear"></div>

<div id="columns">
  <div class="list org">
    <h2>Organize</h2>
    <ul>
    <% @orgs.each do |org| %>
      <li><%= org.content %></li>
    <% end %>
    </ul>
  </div>
  <div class="list fit">
    <h2>Fitness</h2>
    <ul>
    <% @fits.each do |fit| %>
      <li><%= fit.content %></li>
    <% end %>
    </ul>
  </div>
  <div class="list work">
    <h2>Work</h2>
    <ul>
    <% @works.each do |work| %>
      <li><%= work.content %></li>
    <% end %>
    </ul>
  </div>
  <div class="list play">
    <h2>Play</h2>
    <ul>
    <% @plays.each do |play| %>
      <li><%= play.content %></li>
    <% end %>
    </ul>
  </div>
</div>


