<%= render 'header' %>
<div class="miniback"></div>

<div class="container">
      <%= form_for(@todo, remote: true, html: {class: "newtodo"}) do |t| %>
        <%= t.text_field :content, :placeholder => 'âœ New shit to do?'.html_safe %>
        <%= t.hidden_field :user_id, :value => @user.id %>
      <% end %>

<% if @user.todos.count != 0 %>

<table class="listview" id="listview">

<%= render partial: 'list', locals: { todos: @todos } %>

<% else %>
  <h1 class="nothing">Nothing to do? I don't believe you... </h1>
<% end %>

</table>
</div>
