<%= render 'header' %>
<div class="miniback"></div>

<div class="container">
      <%= form_for(@todo, html: {class: "newtodo"}) do |t| %>
        <%= t.text_field :content, :placeholder => 'âœ New shit to do?'.html_safe %>
        <%= t.hidden_field :user_id, :value => @user.id %>
      <% end %>

<% if @user.todos.count != 0 %>

<table class="listview">
  <% @todos.each do |todo| %>
  <tr>
    <td><span><%= link_to todo.content, todo, method: :delete, :class => "poop" %></span></td>
  </tr>
  <% end %>

  <% else %>
<tr>
  <td><span> Nothing to do? I don't believe you... </span></td>
</tr>
  <% end %>

</table>
</div>
