 <%= render 'header' %>

<div class="container">
<div class="empty">
    <div class="doit">
<h2>Click to AccompliShit!</h2>
<i class="fa fa-hand-o-down"></i>
</div>
</div>
<div class="jSlots-wrapper">
<ul class="slot">
  <% @todos.each do |todo| %>
    <% if todo.content.length < 10 %>
    <li class="biggest"><%= link_to todo.content, todo, method: :delete %></li>
    <% elsif todo.content.length < 15 %>
    <li class="bigger"><%= link_to todo.content, todo, method: :delete %></li>
    <% elsif todo.content.length < 20 %>
    <li class="big"><%= link_to todo.content, todo, method: :delete %></li>
    <% elsif todo.content.length < 25 %>
    <li class="medium"><%= link_to todo.content, todo, method: :delete %></li>
    <% else %>
    <li class="small"><%= link_to todo.content, todo, method: :delete %></li>
    <% end %>
  <% end %>
</ul>

</div>
<br/>
<!-- this button will start the spin -->
<div class="meep">
<input type="button" id="playBtn" value="Accomplish other Shit">
</div>


</div>
